/* Navegador-Menu */
@import url("https://fonts.googleapis.com/css2?family=Livvic&display=swap");
html {
  background-color: black;
  font-family: Livvic;
  color: azure;
}
ul {
  list-style: none;
  text-align: center;
}

ul li {
  display: inline;
  margin: 0 10px;
  background-color: #ff1493;
  padding: 15px;
  border-radius: 10px;
}
li:hover {
  background-color: #ff3bc1;
}
ul a {
  text-decoration: none;
}

ul a:visited {
  color: white;
}
ul a:link {
  color: white;
}

a:hover {
  color: chartreuse;
  text-decoration: underline;
}

/* Index */
img {
  width: 100%;
  height: auto;
  opacity: 0.5;
}

h2 {
  text-align: center;
}

/* Contacto */

#contacto {
  width: 15%;
  background-color: white;
  border-color: #ff3bc1;
  border: 3px ridge #ff3bc1;
}
form {
  display: inline;
  margin: 0;
  background-color: white;
  color: black;
}

legend,
input {
  display: block;
  margin: 10px 0px;
}

#contacto_pagina {
  display: inline-flex;
}

/* footer */
footer {
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 40px;
}
